*~
\#*
*.sw?
build/
.cache
.cache-main
.cache-tests
.classpath
.DS_Store
.gradle
.gradletasknamecache
.idea
*.iml
*.ipr
*.iws
.java-version
.mailmap
.project
.settings
.shell_history
tags

devenv.local
